<title>MB Simon</title>
<!-- load bootstrap compiled and minified css -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--google fonts-->
<!--credit code source Ben Blood. Changes made to improve code or adapt originality-->
<link href="https://fonts.googleapis.com/css?family=Alfa Slab One" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Pragati Narrow" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
<audio id="soundbuttonWrong" src="http://www.televisiontunes.com/uploads/audio/Family Fortunes - Wrong Buzzer.mp3"></audio>

<!--font awesome-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Masonry-->
<script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<!-- isotope-layout-->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</script>
